{{ header }}
{{ column_left }}
<div id="content">
    {% if do_oa == "settings" %}
        <form id="form-layout" action="{{ action }}" method="post" enctype="multipart/form-data">
            <div class="page-header">
                <div class="container-fluid">
                    <div class="pull-right">
                        <button type="submit" form="form-account" data-toggle="tooltip" title="&nbsp;{{ button_save }}" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            &nbsp;
                                                    
                        </button>
                        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                            <i class="fa fa-reply"></i>
                        </a>
                    </div>
                    <h1>
                        {{ heading_title }}
                    </h1>
                    <ul class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            <li>
                                <a href="{{ breadcrumb.href }}">
                                    {{ breadcrumb.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="{{ action }}">
                            <i class="fa fa-wrench"></i>
                            {{ mm_text_settings }}
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ action }}&amp;do=fb_config">
                            <i class="fa fa-cog"></i>
                            {{ mm_text_positions }}
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ action }}&amp;do=messages">
                            <i class="fa fa-puzzle-piece"></i>
                            {{ mm_text_messages }}
                        </a>
                    </li>
                </ul>
                {# Success #}
                {% if mm_success_message is not empty %}
                    <div class="alert alert-success">
                        <i class="fa fa-cogs"></i>
                        {{ mm_success_message }}
                        <button type="button" class="close" data-dismiss="alert">
                            &times;               
                                                                                
                                                    
                        </button>
                    </div>
                {% endif %}
                {# Error #}
                {% if mm_error_message is not empty %}
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-circle"></i>
                        {{ mm_error_message }}
                        <button type="button" class="close" data-dismiss="alert">
                            &times;             
                                                                                                                                                                    
                                                                                                                                        
                                                                                                            
                                                                                
                                                    
                        </button>
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-plug"></i>
                            {{ mm_text_api_communication }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form id="form-layout" class="form-horizontal" action="{{ action }}&amp;do=settings" method="post" enctype="multipart/form-data">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            #
                                                                                                                    
                                                        </th>
                                                        <th>
                                                            Membership Name
                                                                                                                    
                                                        </th>
                                                        <th>
                                                            Points Amount to Reach
                                                                                                                    
                                                        </th>
                                                        <th>
                                                            Actions
                                                                                                                    
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for membership in memberships %}
                                                        <tr>
                                                            <td>
                                                                {{ loop.index }}
                                                            </td>
                                                            <td>
                                                                {{ membership.name }}
                                                            </td>
                                                            <td>
                                                                {{ membership.amount }}
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-warning edit-row" data-id="{{ membership.id }}">
                                                                    <i class="fa fa-pencil"></i>
                                                                    Edit
                                                                                                                                                                                            
                                                                                                                                    
                                                                </button>
                                                                <button class="btn btn-danger delete-row" data-id="{{ membership.id }}">
                                                                    <i class="fa fa-trash"></i>
                                                                    Delete
                                                                                                                                                                                            
                                                                                                                                    
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Add rows button -->
                                        <a class="btn btn-primary btn-block" id="insertRow" href="#">
                                            Add new row
                                                                                                                        
                                                                                    
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <input type="hidden" name="area" value="settings">
                        <button type="submit" form="form-account" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            {{ mm_text_save }}
                        </button>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
            $(function () {
                // Start counting from the third row
                var counter = 1;
              
                $("#insertRow").on("click", function (event) {
                  event.preventDefault();
              
                  var newRow = $("<tr>");
                  var cols = "";
              
                  // Table columns
                  cols += '<th scrope="row">' + counter + "</th>";
                  cols +=
                    '<td><input class="form-control rounded-0" type="text" name="name" placeholder="Membership Name"></td>';
                  cols +=
                    '<td><input class="form-control rounded-0" type="text" name="amount" placeholder="Amount to reach"></td>';
                  cols +=
                    '<td><button class="btn btn-warning edit-row"><i class="fa fa-pencil"></i> Edit</button> ';
                  cols +=
                    '<button class="btn btn-danger delete-row"><i class="fa fa-trash"></i> Delete</button></td>';
              
                  // Insert the columns inside a row
                  newRow.append(cols);
              
                  // Insert the row inside a table
                  $("table").append(newRow);
              
                  // Increase counter after each row insertion
                  counter++;
                });
              
                // Remove row when delete btn is clicked
                $("table").on("click", ".delete-row", function (event) {
                  event.preventDefault();
                  let membershipID = $(this).data("id");
                  let btn = $(this);
                  btn.text("Loading...");
                  $.ajax({
                    url: "index.php?route=extension/module/membership/removeMembership&user_token={{ user_token }}",
                    type: "post",
                    dataType: "json",
                    data: "membership_id=" + $(this).data("id"),
                    success: function (json) {
                      console.log(json.success);
                      if (json.success) {
                        console.log($(this));
                        btn.closest("tr").remove();
                      }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                      alert(
                        thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText,
                      );
                    },
                  });
              
                  counter -= 1;
                });
              
                // Edit row functionality
                $("table").on("click", ".edit-row", function (event) {
                    event.preventDefault();
                    var row = $(this).closest("tr");
                    var name = row.find("td:nth-child(2)");
                    var amount = row.find("td:nth-child(3)");
                  
                    let nameValue = name.text().trim();
                    let amountValue = amount.text().trim();
                  
                    // Replace the row text with input fields containing the text
                    var nameInput = $('<input class="form-control rounded-0" type="text" name="name" placeholder="Membership Name">').val(nameValue);
                    var amountInput = $('<input class="form-control rounded-0" type="text" name="amount" placeholder="Amount to reach">').val(amountValue);
                  
                    row.find("td:nth-child(2)").html(nameInput);
                    row.find("td:nth-child(3)").html(amountInput);
                  
                    // Hide the edit button and show the Save Changes button
                    row.find(".edit-row").html('<i class="fa fa-check"></i> Save');
                    row.find(".edit-row").removeClass("btn-warning").addClass("btn-primary");
                    row.find(".edit-row").removeClass("edit-row").addClass("save-changes");
                  
                    // Remove previously attached click event handler for ".save-changes" button
                    $(".save-changes").off("click");
                  
                    $(".save-changes").on("click", function (event) {
                      event.preventDefault();
                      console.log(name);
                      $.ajax({
                        url: "index.php?route=extension/module/membership/editMembership&user_token={{ user_token }}",
                        type: "post",
                        dataType: "json",
                        data:
                          "membership_id=" +
                          $(this).data("id") +
                          "&name=" +
                          nameInput.val() +
                          "&amount=" +
                          amountInput.val(),
                        success: function (json) {
                          if (json.success) {
                            // Update the row with the new values
                            name.text(json.name);
                            amount.text(json.amount);
                  
                            // Change back to "Edit" mode
                            row.find("td:nth-child(2)").html(json.name);
                            row.find("td:nth-child(3)").html(json.amount);
                            row.find(".save-changes").html('<i class="fa fa-pencil"></i> Edit');
                            row.find(".save-changes").removeClass("btn-primary").addClass("btn-warning");
                            row.find(".save-changes").removeClass("save-changes").addClass("edit-row");
                          }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        },
                      });
                    });
                  });
                  

              });
              console.log({{ _context | json_encode | raw }});
			</script>
        {% elseif do_oa == "fb_config" %}
            <div class="page-header">
                <div class="container-fluid">
                    <div class="pull-right">
                        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                            <i class="fa fa-reply"></i>
                        </a>
                    </div>
                    <h1>
                        {{ heading_title }}
                    </h1>
                    <ul class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            <li>
                                <a href="{{ breadcrumb.href }}">
                                    {{ breadcrumb.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="{{ action }}">
                            <i class="fa fa-wrench"></i>
                            {{ mm_text_settings }}
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ action }}&amp;do=fb_config">
                            <i class="fa fa-puzzle-piece"></i>
                            {{ mm_text_positions }}
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ action }}&amp;do=messages">
                            <i class="fa fa-puzzle-piece"></i>
                            {{ mm_text_messages }}
                        </a>
                    </ul>
                    {# Success #}
                    <div class="alert alert-success" style="display: none;" id="success">
                        <i class="fa fa-cogs"></i>
                        {{ mm_success_message }}
                        <button type="button" class="close" data-dismiss="alert">
                            &times;
                                                                                    
                                                    
                        </button>
                    </div>
                    {# Error #}
                    {% if mm_error_message is not empty %}
                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation-circle"></i>
                            {{ mm_error_message }}
                        </div>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-plus-square"></i>
                                {{ mm_text_fb_config }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="form-horizontal">
                                    {# <form id="form-layout" class="form-horizontal" action="{{ action }}&amp;do=fb_config" method="post" enctype="multipart/form-data"> #}
                                    {# ---------- #}
                                        <div class="tab-pane active" id="tab-affiliate"> <fieldset>
                                            <legend>
                                                {{ mm_text_fb_settings_legend }}
                                            </legend>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-tracking">
                                                    <span data-toggle="tooltip" title="" data-original-title="{{ mm_text_fb_api_key_tooltip }}">
                                                        {{ mm_text_firebase_api_key }}
                                                    </span>
                                                </label>
                                                <div class="col-sm-10">
                                                    <textarea type="text" name="api_key" placeholder="Firebase Api Key" id="api-key" class="form-control">{{ config.api_key }}</textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>
                                                {{ mm_text_notification_msg_bodies_legends }}
                                            </legend>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="message_novice">
                                                    {{ mm_text_message_novice }}
                                                </label>
                                                <div class="col-sm-10">
                                                    <textarea type="text" name="message_novice" placeholder="Message novice" id="message_novice" class="form-control">{{ config.message_novice }}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="message_keep">
                                                {{ mm_text_message_keep }}
                                            </label>
                                            <div class="col-sm-10">
                                                <textarea type="text" name="message_keep" placeholder="Message to keep membership" id="message_keep" class="form-control">{{ config.message_keep }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="message_promoted">
                                            {{ mm_text_message_promoted }}
                                        </label>
                                        <div class="col-sm-10">
                                            <textarea type="text" name="message_promoted" placeholder="Message promotion" id="message_promoted" class="form-control">{{ config.message_promoted }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="message_demoted">
                                        {{ mm_text_message_demoted }}
                                    </label>
                                    <div class="col-sm-10">
                                        <textarea type="text" name="message_demoted" placeholder="Message demotion" id="message_demoted" class="form-control">{{ config.message_demoted }}</textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>
                                {{ mm_text_api_communication }}
                            </legend>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-tracking">
                                    <span data-toggle="tooltip" title="" data-original-title="{{ mm_text_duration_tooltip }}">
                                        {{ mm_text_duration }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div style="display: flex">
                                        <input name="duration_number" id="duration-number" value="{{ config.expiration_duration | slice(0, 2) }}" class="form-control" style="margin-right: 20px" />
                                        <select name="duration_unit" id="duration-unit" class="form-control">
                                            <option value="days" {% if config.expiration_duration | slice(2) == "days" %} selected{% endif %}>
                                                Days
                                            </option>
                                            <option value="weeks" {% if config.expiration_duration | slice(2) == "weeks" %} selected{% endif %}>
                                                Weeks
                                            </option>
                                            <option value="months" {% if config.expiration_duration | slice(2) == "months" %} selected{% endif %}>
                                                Months
                                            </option>
                                            <option value="years" {% if config.expiration_duration | slice(2) == "years" %} selected{% endif %}>
                                                Years
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-tracking">
                                    <span data-toggle="tooltip" title="" data-original-title="Minimum points amount to reset the expiration date of the last points reward.">
                                        Minimum points
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="minimum_points" value="{{ config.minimum_points }}" placeholder="" id="minimum-pts" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="text-center">
                        <input type="hidden" name="area" value="fb_config">
                            <button type="submit" form="form-account" id="module_oneall_api_verify" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                {{ mm_text_save }}
                            </button>
                        </div>
                    {# </form> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            // Start counting from the third row
            var counter = 1;
          
            $("#insertRow").on("click", function (event) {
              event.preventDefault();
          
              var newRow = $("<tr>");
              var cols = "";
          
              // Table columns
              cols += '<th scrope="row">' + counter + "</th>";
              cols +=
                '<td><input class="form-control rounded-0" type="text" name="name" placeholder="Membership Name"></td>';
              cols +=
                '<td><input class="form-control rounded-0" type="text" name="amount" placeholder="Amount to reach"></td>';
              cols +=
                '<td><button class="btn btn-warning edit-row"><i class="fa fa-pencil"></i> Edit</button> ';
              cols +=
                '<button class="btn btn-danger delete-row"><i class="fa fa-trash"></i> Delete</button></td>';
          
              // Insert the columns inside a row
              newRow.append(cols);
          
              // Insert the row inside a table
              $("table").append(newRow);
          
              // Increase counter after each row insertion
              counter++;
            });
          
            // Remove row when delete btn is clicked
            $("table").on("click", ".delete-row", function (event) {
              event.preventDefault();
              let membershipID = $(this).data("id");
              let btn = $(this);
              btn.text("Loading...");
              $.ajax({
                url: "index.php?route=extension/module/membership/removeMembership&user_token={{ user_token }}",
                type: "post",
                dataType: "json",
                data: "membership_id=" + $(this).data("id"),
                success: function (json) {
                  console.log(json.success);
                  if (json.success) {
                    console.log($(this));
                    btn.closest("tr").remove();
                  }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                  alert(
                    thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText,
                  );
                },
              });
          
              counter -= 1;
            });
          
            // Edit row functionality
            $("table").on("click", ".edit-row", function (event) {
                event.preventDefault();
                var row = $(this).closest("tr");
                var name = row.find("td:nth-child(2)");
                var amount = row.find("td:nth-child(3)");
              
                let nameValue = name.text().trim();
                let amountValue = amount.text().trim();
              
                // Replace the row text with input fields containing the text
                var nameInput = $('<input class="form-control rounded-0" type="text" name="name" placeholder="Membership Name">').val(nameValue);
                var amountInput = $('<input class="form-control rounded-0" type="text" name="amount" placeholder="Amount to reach">').val(amountValue);
              
                row.find("td:nth-child(2)").html(nameInput);
                row.find("td:nth-child(3)").html(amountInput);
              
                // Hide the edit button and show the Save Changes button
                row.find(".edit-row").html('<i class="fa fa-check"></i> Save');
                row.find(".edit-row").removeClass("btn-warning").addClass("btn-primary");
                row.find(".edit-row").removeClass("edit-row").addClass("save-changes");
              
                // Remove previously attached click event handler for ".save-changes" button
                $(".save-changes").off("click");
              
                $(".save-changes").on("click", function (event) {
                  event.preventDefault();
                  console.log(name);
                  $.ajax({
                    url: "index.php?route=extension/module/membership/editMembership&user_token={{ user_token }}",
                    type: "post",
                    dataType: "json",
                    data:
                      "membership_id=" +
                      $(this).data("id") +
                      "&name=" +
                      nameInput.val() +
                      "&amount=" +
                      amountInput.val(),
                    success: function (json) {
                      if (json.success) {
                        // Update the row with the new values
                        name.text(json.name);
                        amount.text(json.amount);
              
                        // Change back to "Edit" mode
                        row.find("td:nth-child(2)").html(json.name);
                        row.find("td:nth-child(3)").html(json.amount);
                        row.find(".save-changes").html('<i class="fa fa-pencil"></i> Edit');
                        row.find(".save-changes").removeClass("btn-primary").addClass("btn-warning");
                        row.find(".save-changes").removeClass("save-changes").addClass("edit-row");
                      }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    },
                  });
                });
              });
              

          });
                    </script>
{% elseif do_oa == "messages" %}
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>
                {{ heading_title }}
            </h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">
                            {{ breadcrumb.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li>
                <a href="{{ action }}">
                    <i class="fa fa-wrench"></i>
                    {{ mm_text_settings }}
                </a>
            </li>
            <li class="">
                <a href="{{ action }}&amp;do=fb_config">
                    <i class="fa fa-puzzle-piece"></i>
                    {{ mm_text_positions }}
                </a>
            </li>
            <li class="active">
                <a href="{{ action }}&amp;do=messages">
                    <i class="fa fa-puzzle-piece"></i>
                    {{ mm_text_messages }}
                </a>
            </ul>
            {# Success #}
            {% if mm_success_message is not empty %}
                <div class="alert alert-success">
                    <i class="fa fa-cogs"></i>
                    {{ mm_success_message }}
                    <button type="button" class="close" data-dismiss="alert">
                        &times;
                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                        
                                                                                    
                                            
                    </button>
                </div>
            {% endif %}
            {# Error #}
            {% if mm_error_message is not empty %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-circle"></i>
                    {{ mm_error_message }}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-plus-square"></i>
                        {{ mm_text_add_to_a_position }}
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">
                                    #
                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                        
                                                                                                                        
                                                                    
                                </th>
                                <th scope="col">
                                    Notification body
                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                        
                                                                                                                        
                                                                    
                                </th>
                                <th scope="col">
                                    Sent at
                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                        
                                                                                                                        
                                                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                                <tr>
                                    <th scope="row">
                                        {{ message.id }}
                                    </th>
                                    <td>
                                        {{ message.message }}
                                    </td>
                                    <td>
                                        {{ message.sent_at }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{{ footer }}
